.features-container{
    width: 80vw;
    margin: 0 auto;
    /* border: 1px solid white; */
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-auto-rows: repeat(2,minmax(10rem,1fr));
    text-align: center;
    /* align-items: center; */
    justify-items: center;
    align-content: center;
    justify-content: center;
    grid-row-gap: 10rem;
    
}

.f-box{
    /* border: 1px solid lime; */
    padding: 5rem;
}